TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here 
TELEGRAM_CHAT_ID=your_telegram_chat_id_here 
POSTGRES_PASSWORD=your_postgres_password_here 
PGADMIN_EMAIL=your_email_here 
PGADMIN_PASSWORD=your_pgadmin_password_here 
JELLYFIN_API_KEY=your_jellyfin_api_key_here 
DB_PASS=your_db_password_here 
RESTIC_PASS=your_restic_password_here 
ADMIN_EMAIL=your_admin_email_here
